@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,900;1,400;1,900&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
  letter-spacing: 0.05em;
}

.chartContainer {
  margin: auto;
  gap: 2rem;
  display: flex;
  width: 90%;
  height: 90%;
}

input {
  width: 80%;
}
p {
  font-style: italic;
  
  letter-spacing: 0.05em;
}
span {
  font-weight: bold;
  font-size: 1.5rem;
}

.sliderText{
  font-weight: bold;
  font-size: 1.5rem;
}

.table {}
@media only screen and (max-width: 1024px) {

 input {
  width: 50%;
  }

  .chartContainer {
    display: block;
    margin: auto;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

 
}